# <APP>_APPRC_TOML stores the the global app configs like Storage registration names and paths. 
APPRC_EXAMPLE_APP_APPRC_TOML=~/.config/apprc_example_app/apprc_example_app.apprc.toml
# <APP>_STORAGE stores the path to the default storage name or path.
APPRC_EXAMPLE_APP_STORAGE=~/.local/share/apprc_example_app/apprc_example_app_stor-1